<style>
    .boxcoustom{
        background-color: #f5f7fa;
        text-align: right;
        padding: 0;
        height: 313px;
        border: 2px solid;
    }
</style>
<app-patient-info  [visibility]="false"></app-patient-info>
<br>
<!--<div class="container-fluid">-->
<!--    <div class="row">-->
<!--        <div class="col-lg-6 col-sm-12 col-md-12 boxcoustom" >-->
<!--              <div class="col-lg-12 col-sm-12 col-md-12" style="background-color: #12407a;color: white">-->
<!--                  تشخیص های مراجعه-->
<!--              </div>-->
<!--        </div>-->
<!--        <div class="col-lg-6 col-sm-12 col-md-12 boxcoustom" >-->
<!--            <div class="col-lg-12 col-sm-12 col-md-12" style="background-color: #12407a;color: white">-->
<!--                داروهای مراجعه-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
