<div class="container text-bold-600" >
    <div class="row" style="display: flex">
        <div class="col-10" [innerHTML]='html' >

        </div>
        <div class="col-2"  >
            <img src="assets/img/Emr/logo.png" style="width: 50px" />

        </div>
    </div>


    <div *ngIf="personInfo" class="row   mt-3" style="border:2px solid black;height: auto">

        <div class="text-md-right ml-5 my-2 " >
            <ul style="list-style: none" >
                <li style="text-align: right">
                </li>
                <li style="text-align: right">    <span class="text-bold-600">  نام بیمار:</span>    {{personInfo.patient_FirstName}} </li>
                <li style="text-align: right " >      <span class="text-bold-600">  نام خانوادگی بیمار  :</span> {{personInfo.patient_LastName}}  </li>

                <li style="text-align: right">    <span class="text-bold-600">  سن:</span> {{personInfo.encounter_Age}} </li>
            </ul>
        </div>
        <div class="text-md-right ml-5 my-2"  >
            <ul style="list-style: none" >
                <li style="text-align: right">  <span class="text-bold-600"> تاریخ درخواست :</span> {{personInfo.encounter_StartDate_Persian}} </li>
                <li style="text-align: right">  <span class="text-bold-600"> نام پدر :</span>  {{personInfo.patient_FatherName}} </li>

                <!--                <li style="text-align: right">   <span class="text-bold-600">  تاریخ ترخیص :</span>  {{i.encounter_EndDate_Persian}}</li>-->
                <li style="text-align: right">   <span class="text-bold-600">  پزشک معالج:</span> {{personInfo.encounter_Practitioner}} </li>
            </ul>
        </div>
        <div class="text-md-right ml-5 my-2" >
            <ul style="list-style: none"  >
                <li style="text-align: right">  <span class="text-bold-600"> تاریخ مراجعه   :</span> {{personInfo.encounter_StartDate_Persian}}  </li>
                <li style="text-align: right"><span class="text-bold-600">  شماره پرونده :</span>  {{personInfo.outPatientRecordNo}} </li>
                <li style="text-align: right">  <span class="text-bold-600" > الویت مراجعه :</span>{{personInfo.encounter_Priority}}  </li>
            </ul>
        </div>
    </div>
</div>


