<div class="container-fluid">
    <div class="row">
        <div class="col-8" style="margin-top:30px;text-align: right;padding: 6px; display: flex;flex-wrap: wrap">
          <div class="col-4" style="text-align: right;padding: 24px;background-color: #0B486B;color: white;font-weight: bold;border-radius: 4px;border-right: 7px solid darkred">
           تعداد شاخص های مالی 12 عدد
          </div>
            <div class="col-4" style="margin-right:40px;text-align: right;padding: 24px;background-color: #0B486B;color: white;font-weight: bold;border-radius: 4px;border-right: 7px solid darkred">
                تعداد شاخص های دارویی 2 عدد
            </div>
        </div>
    </div>
</div>
