<style>
    table{
        text-align: center;
    }


</style>
<div class="container">


    <app-information></app-information>
    <div class="row col-sm-12">
            <table class="table table-hover table-bordered  mt-2 "  >
                <thead>
                <tr >
                    <th scope="col" >گروه آزمایش  </th>
                    <th scope="col">کد در خواست  </th>
                    <th scope="col">تاریخ گزارش</th>
                    <th scope="col">محل درخوست </th>


                    <th scope="col"> <button routerLink="/dashboard/printAll/{{labReq[0]['encounterid']}}" class="btn btn-outline-warning" >
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                            <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                            <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                        </svg>
                        پیش نمایش همه </button>
                    </th>

                </tr>
                </thead>
                <tbody>
<!--                <tr *ngFor=" let i of labReq  ;let i1 = index">-->

<!--                    <td>{{i.orderTemplateName}}</td>-->
<!--                    <td>{{i.orderSheetCode}}</td>-->
<!--                    <td> {{i.reportDate}}</td>-->
<!--                    <td>{{i.requestLocation}}</td>-->
<!--                    <td> <button routerLink="/dashboard/testResult/{{i.orderDocID}}" class="btn btn-outline-primary" >-->
<!--                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">-->
<!--                            <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>-->
<!--                            <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>-->
<!--                        </svg>-->
<!--                        نمایش آزمایش </button></td>-->
<!--                </tr>-->


                </tbody>
            </table>






    </div>

    <div class="row" >

    </div>
</div>


